.App {
  text-align: center;
}

nav {
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  height: 60px;
}

#nav-logo {
  width: 30px;
  height: 30px;
  padding: 10px;
}

#nav-text {
  color: white;
  font-weight: bold;
}